# Appendix: Tim

In [5]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
from IPython.display import display

In [6]:
BASE_DIR = Path(r"C:\Users\timot\Downloads\forecast_results_20251126_1056")

assert BASE_DIR.exists(), "Results directory not found."

excel_files = sorted(BASE_DIR.glob("*.xlsx"))

print(f"Number of Excel files detected: {len(excel_files)}")
for f in excel_files:
    print("-", f.name)

Number of Excel files detected: 16
- ARDL_baseline.xlsx
- ARDL_covid.xlsx
- ARDL_q.xlsx
- ARDL_q_covid.xlsx
- ARDL_q_scar.xlsx
- ARDL_scar.xlsx
- model_summary.xlsx
- VECM_baseline.xlsx
- VECM_covid.xlsx
- VECM_q.xlsx
- VECM_q_covid.xlsx
- VECM_q_scar.xlsx
- VECM_scar.xlsx
- ~$ARDL_baseline.xlsx
- ~$ARDL_q_scar.xlsx
- ~$model_summary.xlsx

In [7]:
BASE_DIR = Path(r"C:\Users\timot\Downloads\forecast_results_20251126_1056")

assert BASE_DIR.exists(), "Results directory not found."

excel_files = sorted([
    f for f in BASE_DIR.glob("*.xlsx")
    if not f.name.startswith("~$")
])

print(f"Number of Excel files detected: {len(excel_files)}")
for f in excel_files:
    print("-", f.name)

Number of Excel files detected: 13
- ARDL_baseline.xlsx
- ARDL_covid.xlsx
- ARDL_q.xlsx
- ARDL_q_covid.xlsx
- ARDL_q_scar.xlsx
- ARDL_scar.xlsx
- model_summary.xlsx
- VECM_baseline.xlsx
- VECM_covid.xlsx
- VECM_q.xlsx
- VECM_q_covid.xlsx
- VECM_q_scar.xlsx
- VECM_scar.xlsx

In [8]:
for file_path in excel_files:
    render_excel_results(file_path)

====================================================================================================
RESULT FILE: ARDL_baseline.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual    error
0 2025-09-30   15.056096  15.052376  0.00372

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead      MAE     RMSE   Train_end
0  ARDL      baseline            1  0.00372  0.00372  2025-06-30

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

  variable    coef  std err      z  P>|z|  [0.025  0.975]
0    const  2.7538    1.606  1.714  0.094  -0.495   6.003
1    trend  0.0016    0.001  1.350  0.185  -0.001   0.004
2     g.L1  0.7035    0.148  4.747  0.000   0.404   1.003
3     g.L2 -0.0626    0.162 -0.386  0.702  -0.391   0.266
4     g.L3 -0.0974    0.174 -0.561  0.578  -0.448   0.254
5     g.L4  0.6173    0.170  3.633  0.001   0.274   0.961
6     g.L5 -0.3482    0.155 -2.240  0.031  -0.663  -0.034
7  ntlg.L0  0.0678    0.024  2.846  0.007   0.020   0.116
8  ntlg.L1 -0.0209    0.027 -0.778  0.442  -0.075   0.033
9  ntlg.L2 -0.0300    0.023 -1.277  0.209  -0.077   0.018

====================================================================================================
RESULT FILE: ARDL_covid.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual    error
0 2025-09-30   15.055996  15.052376  0.00362

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead      MAE     RMSE   Train_end
0  ARDL         covid            1  0.00362  0.00362  2025-06-30

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

    variable    coef  std err      z  P>|z|  [0.025  0.975]
0      const  3.1345    1.814  1.728  0.093  -0.556   6.825
1      trend  0.0024    0.001  1.641  0.110  -0.001   0.005
2       g.L1  0.6547    0.130  5.030  0.000   0.390   0.920
3       g.L2 -0.0442    0.143 -0.308  0.760  -0.336   0.247
4       g.L3 -0.0950    0.151 -0.629  0.534  -0.402   0.212
5       g.L4  0.5454    0.134  4.060  0.000   0.272   0.819
6       g.L5 -0.1991    0.143 -1.393  0.173  -0.490   0.092
7       g.L6 -0.3597    0.146 -2.470  0.019  -0.656  -0.063
8       g.L7  0.2808    0.121  2.315  0.027   0.034   0.528
9    ntlg.L0  0.0298    0.021  1.447  0.157  -0.012   0.072
10   ntlg.L1 -0.0431    0.022 -1.965  0.058  -0.088   0.002
11  covid.L0  0.0008    0.009  0.085  0.933  -0.018   0.020
12  covid.L1 -0.0502    0.012 -4.171  0.000  -0.075  -0.026
13  covid.L2  0.0364    0.010  3.772  0.001   0.017   0.056

====================================================================================================
RESULT FILE: ARDL_q.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2025-09-30     15.0617  15.052376  0.009323

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  ARDL             q            1  0.009323  0.009323  2025-06-30

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

  variable    coef  std err      z  P>|z|  [0.025  0.975]
0    const  2.8595    1.386  2.063  0.046   0.060   5.659
1    trend  0.0013    0.001  1.245  0.220  -0.001   0.003
2     g.L1  0.6358    0.126  5.041  0.000   0.381   0.891
3     g.L2  0.1402    0.168  0.835  0.409  -0.199   0.479
4     g.L3 -0.2051    0.164 -1.247  0.219  -0.537   0.127
5     g.L4  0.2369    0.130  1.820  0.076  -0.026   0.500
6  ntlg.L0  0.0441    0.019  2.297  0.027   0.005   0.083
7    q2.L0  0.0292    0.008  3.725  0.001   0.013   0.045
8    q3.L0  0.0278    0.008  3.522  0.001   0.012   0.044

====================================================================================================
RESULT FILE: ARDL_q_covid.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2025-09-30   15.065373  15.052376  0.012997

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  ARDL       q_covid            1  0.012997  0.012997  2025-06-30

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

   variable    coef  std err      z  P>|z|  [0.025  0.975]
0     const  4.6937    1.296  3.621  0.001   2.083   7.304
1     trend  0.0033    0.001  3.261  0.002   0.001   0.005
2      g.L1  0.6761    0.090  7.532  0.000   0.495   0.857
3   ntlg.L0  0.0071    0.019  0.374  0.710  -0.031   0.045
4     q1.L0 -0.0029    0.005 -0.552  0.584  -0.014   0.008
5     q2.L0  0.0289    0.006  4.619  0.000   0.016   0.042
6     q3.L0  0.0321    0.005  5.948  0.000   0.021   0.043
7  covid.L0 -0.0141    0.006 -2.436  0.019  -0.026  -0.002

====================================================================================================
RESULT FILE: ARDL_q_scar.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2025-09-30   15.053884  15.052376  0.001508

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  ARDL        q_scar            1  0.001508  0.001508  2025-06-30

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

  variable     coef  std err      z  P>|z|  [0.025  0.975]
0    const  10.7376    1.356  7.917  0.000   8.006  13.469
1    trend   0.0089    0.001  7.633  0.000   0.007   0.011
2     g.L1   0.2584    0.094  2.753  0.008   0.069   0.447
3  ntlg.L0   0.0164    0.012  1.333  0.189  -0.008   0.041
4    q1.L0  -0.0086    0.004 -2.160  0.036  -0.017  -0.001
5    q2.L0   0.0142    0.005  2.775  0.008   0.004   0.024
6    q3.L0   0.0252    0.004  6.200  0.000   0.017   0.033
7  scar.L0  -0.0575    0.008 -7.056  0.000  -0.074  -0.041

====================================================================================================
RESULT FILE: ARDL_scar.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2025-09-30   15.053384  15.052376  0.001008

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  ARDL          scar            1  0.001008  0.001008  2025-06-30

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

   variable     coef  std err       z  P>|z|  [0.025  0.975]
0     const  24.8358    5.640   4.404  0.000  13.283  36.388
1     trend   0.0211    0.005   4.393  0.000   0.011   0.031
2      g.L1   0.0302    0.179   0.169  0.867  -0.336   0.397
3      g.L2  -0.1525    0.084  -1.813  0.081  -0.325   0.020
4      g.L3  -0.3932    0.078  -5.068  0.000  -0.552  -0.234
5      g.L4   0.5553    0.099   5.582  0.000   0.352   0.759
6      g.L5  -0.4419    0.127  -3.484  0.002  -0.702  -0.182
7      g.L6  -0.2829    0.116  -2.445  0.021  -0.520  -0.046
8      g.L7  -0.0363    0.066  -0.548  0.588  -0.172   0.100
9   ntlg.L0   0.0063    0.003   2.264  0.032   0.001   0.012
10  ntlg.L1   0.0012    0.003   0.386  0.703  -0.005   0.007
11  scar.L0  -0.0187    0.002 -12.064  0.000  -0.022  -0.016
12  scar.L1  -0.0824    0.004 -21.122  0.000  -0.090  -0.074
13  scar.L2   0.0184    0.015   1.258  0.219  -0.012   0.048
14  scar.L3  -0.0081    0.009  -0.865  0.394  -0.027   0.011
15  scar.L4  -0.0231    0.007  -3.286  0.003  -0.037  -0.009
16  scar.L5   0.0380    0.008   5.008  0.000   0.022   0.054
17  scar.L6  -0.0637    0.009  -7.254  0.000  -0.082  -0.046
18  scar.L7   0.0009    0.013   0.069  0.946  -0.026   0.028

====================================================================================================
RESULT FILE: model_summary.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Sheet1
--------------------------------------------------------------------------------

   Model Specification       MAE      RMSE
0   VECM      baseline  0.010987  0.014885
1   VECM         covid  0.012039  0.017254
2   VECM          scar  0.016744  0.020775
3   VECM             q  0.043079  0.052038
4   VECM       q_covid  0.052108  0.061343
5   VECM        q_scar  0.072992  0.084434
6   ARDL      baseline  0.003720  0.003720
7   ARDL         covid  0.003620  0.003620
8   ARDL          scar  0.001008  0.001008
9   ARDL             q  0.009323  0.009323
10  ARDL       q_covid  0.012997  0.012997
11  ARDL        q_scar  0.001508  0.001508

====================================================================================================
RESULT FILE: VECM_baseline.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2023-12-31   14.964085  14.959466  0.004619
1 2024-03-31   14.981949  14.951110  0.030839
2 2024-06-30   14.994134  14.988299  0.005835
3 2024-09-30   14.999385  15.003205 -0.003820
4 2024-12-31   15.007722  15.008445 -0.000723
5 2025-03-31   15.021926  14.998627  0.023298
6 2025-06-30   15.032831  15.038198 -0.005367
7 2025-09-30   15.038984  15.052376 -0.013393

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  VECM      baseline            8  0.010987  0.014885  2023-12-31

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

  variable    coef  std_err      z  P>|z|  CI_low  CI_high
0     L1.g -0.2032    0.153 -1.328  0.184  -0.503    0.097
1  L1.ntlg  0.0299    0.026  1.145  0.252  -0.021    0.081
2     L2.g -0.5110    0.130 -3.939  0.000  -0.765   -0.257
3  L2.ntlg -0.0211    0.027 -0.768  0.442  -0.075    0.033
4     L3.g -0.0668    0.142 -0.470  0.638  -0.345    0.212

====================================================================================================
RESULT FILE: VECM_covid.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2023-12-31   14.964645  14.959466  0.005179
1 2024-03-31   14.985129  14.951110  0.034018
2 2024-06-30   14.999369  14.988299  0.011069
3 2024-09-30   15.005214  15.003205  0.002009
4 2024-12-31   15.013831  15.008445  0.005386
5 2025-03-31   15.030391  14.998627  0.031763
6 2025-06-30   15.043814  15.038198  0.005616
7 2025-09-30   15.051105  15.052376 -0.001272

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  VECM         covid            8  0.012039  0.017254  2023-12-31

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

  variable    coef  std_err      z  P>|z|  CI_low  CI_high
0    exog1 -0.0107    0.005 -2.099  0.036  -0.021   -0.001
1     L1.g -0.3355    0.154 -2.182  0.029  -0.637   -0.034
2  L1.ntlg  0.0446    0.024  1.862  0.063  -0.002    0.092
3     L2.g -0.5845    0.126 -4.654  0.000  -0.831   -0.338
4  L2.ntlg -0.0051    0.026 -0.194  0.846  -0.056    0.046
5     L3.g -0.1685    0.141 -1.198  0.231  -0.444    0.107

====================================================================================================
RESULT FILE: VECM_q.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2023-12-31   14.953676  14.959466 -0.005790
1 2024-03-31   14.954035  14.951110  0.002925
2 2024-06-30   14.956063  14.988299 -0.032236
3 2024-09-30   14.958417  15.003205 -0.044787
4 2024-12-31   14.958710  15.008445 -0.049736
5 2025-03-31   14.959741  14.998627 -0.038886
6 2025-06-30   14.959926  15.038198 -0.078272
7 2025-09-30   14.960373  15.052376 -0.092003

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  VECM             q            8  0.043079  0.052038  2023-12-31

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

  variable    coef  std_err      z  P>|z|  CI_low  CI_high
0    exog1 -0.0025    0.009 -0.277  0.782  -0.020    0.015
1    exog2  0.0276    0.010  2.797  0.005   0.008    0.047
2    exog3  0.0304    0.008  3.779  0.000   0.015    0.046
3     L1.g -0.1646    0.137 -1.201  0.230  -0.433    0.104
4  L1.ntlg  0.0077    0.025  0.312  0.755  -0.041    0.056
5     L2.g -0.1214    0.155 -0.782  0.434  -0.426    0.183
6  L2.ntlg -0.0234    0.027 -0.880  0.379  -0.076    0.029
7     L3.g -0.1041    0.164 -0.635  0.525  -0.425    0.217

====================================================================================================
RESULT FILE: VECM_q_covid.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2023-12-31   14.948551  14.959466 -0.010915
1 2024-03-31   14.946345  14.951110 -0.004766
2 2024-06-30   14.946923  14.988299 -0.041376
3 2024-09-30   14.949296  15.003205 -0.053909
4 2024-12-31   14.948297  15.008445 -0.060149
5 2025-03-31   14.948322  14.998627 -0.050305
6 2025-06-30   14.947409  15.038198 -0.090789
7 2025-09-30   14.947723  15.052376 -0.104654

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  VECM       q_covid            8  0.052108  0.061343  2023-12-31

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

  variable    coef  std_err      z  P>|z|  CI_low  CI_high
0    exog1  0.0039    0.009  0.439  0.661  -0.013    0.021
1    exog2  0.0354    0.009  3.768  0.000   0.017    0.054
2    exog3  0.0332    0.007  4.477  0.000   0.019    0.048
3    exog4 -0.0093    0.005 -2.041  0.041  -0.018    0.000
4     L1.g -0.1652    0.126 -1.309  0.190  -0.413    0.082
5  L1.ntlg  0.0107    0.024  0.444  0.657  -0.037    0.058
6     L2.g -0.1236    0.144 -0.857  0.391  -0.406    0.159
7  L2.ntlg -0.0129    0.026 -0.495  0.621  -0.064    0.038
8     L3.g -0.2005    0.163 -1.228  0.219  -0.520    0.119

====================================================================================================
RESULT FILE: VECM_q_scar.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2023-12-31   14.943834  14.959466 -0.015632
1 2024-03-31   14.936799  14.951110 -0.014311
2 2024-06-30   14.932691  14.988299 -0.055608
3 2024-09-30   14.930940  15.003205 -0.072265
4 2024-12-31   14.925118  15.008445 -0.083328
5 2025-03-31   14.920728  14.998627 -0.077900
6 2025-06-30   14.915036  15.038198 -0.123162
7 2025-09-30   14.910642  15.052376 -0.141734

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  VECM        q_scar            8  0.072992  0.084434  2023-12-31

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

  variable    coef  std_err      z  P>|z|  CI_low  CI_high
0    exog1  0.0025    0.009  0.267  0.790  -0.016    0.021
1    exog2  0.0335    0.011  3.096  0.002   0.012    0.055
2    exog3  0.0323    0.008  3.897  0.000   0.016    0.049
3    exog4 -0.0070    0.004 -1.649  0.099  -0.015    0.001
4     L1.g -0.1649    0.139 -1.183  0.237  -0.438    0.108
5  L1.ntlg  0.0110    0.024  0.456  0.648  -0.036    0.058
6     L2.g -0.1297    0.158 -0.820  0.412  -0.440    0.180
7  L2.ntlg -0.0135    0.026 -0.508  0.612  -0.065    0.038
8     L3.g -0.1737    0.164 -1.058  0.290  -0.496    0.148

====================================================================================================
RESULT FILE: VECM_scar.xlsx
====================================================================================================

--------------------------------------------------------------------------------
Sheet: Forecast_vs_Actual
--------------------------------------------------------------------------------

  Unnamed: 0  g_forecast   g_actual     error
0 2023-12-31   14.964940  14.959466  0.005474
1 2024-03-31   14.986538  14.951110  0.035427
2 2024-06-30   15.001448  14.988299  0.013149
3 2024-09-30   15.008441  15.003205  0.005237
4 2024-12-31   15.019172  15.008445  0.010726
5 2025-03-31   15.037811  14.998627  0.039184
6 2025-06-30   15.052880  15.038198  0.014682
7 2025-09-30   15.062448  15.052376  0.010072

--------------------------------------------------------------------------------
Sheet: Fit_Stats
--------------------------------------------------------------------------------

  Model Specification  Steps_ahead       MAE      RMSE   Train_end
0  VECM          scar            8  0.016744  0.020775  2023-12-31

--------------------------------------------------------------------------------
Sheet: Model_Coefficients
--------------------------------------------------------------------------------

  variable    coef  std_err      z  P>|z|  CI_low  CI_high
0    exog1 -0.0104    0.005 -2.057  0.040  -0.020    0.000
1     L1.g -0.2966    0.156 -1.898  0.058  -0.603    0.010
2  L1.ntlg  0.0265    0.025  1.043  0.297  -0.023    0.076
3     L2.g -0.5760    0.129 -4.452  0.000  -0.830   -0.322
4  L2.ntlg -0.0172    0.027 -0.645  0.519  -0.070    0.035
5     L3.g -0.1319    0.143 -0.923  0.356  -0.412    0.148

## Reproducibility

This appendix is fully reproducible:
- All tables are loaded directly from model output files
- No manual modification of results is performed
- Updating results only requires replacing the Excel files

This design ensures auditability and consistency with institutional standards.